@use './../../const' as const;

.container{
    min-height: 50vh;
    padding: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-title{
    @include const.h1-font;
    font-size: 6em;
}

.home-description{
    @include const.text-font;
}