#cactus{
    width: 20px;
    height: 40px;
    background-image: url('../assets/cactus.png');
    background-size: 40px 40px;

    position: relative;
    top: 110px;
    left: 580px;

    animation: block 1s infinite linear;
}

@keyframes block {
    0%{
        left: 580px;
    }
    100%{
        left: -40px;
    }
}