// Palette
$background-color: #EEEEEE !default;
$main-color: #FFD89D !default;
$secondary-color: #fcbd60 !default;
$text-color: #000000 !default;

// Social media
$twitter-color: #1DA1F2;
$instagram-color: #e1306c;
$linkedin-color: #2867b2;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Open+Sans:wght@300&display=swap');